*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}
h1,h2,h3,h4{
    font-family:'Montserrat', sans-serif; ;
}
h2{
    font-size: 48px;
}
h4{
    font-size: 18px;
}
/* top area start */
.top-area{
    padding:75px 0;
}
.d-flex{
    display: flex;
}
.col-2{
    width: 50%;
    padding: 0 5%;
}
.top-left-text{
    padding-top: 100px;
}
.top-left-text h1{
    font-size: 50px;
    text-transform: capitalize;
    color: #747474;
    font-weight: bold;
    margin-bottom: 20px;
}
.top-left-text h1 span{
    color: #FB8847;
}
.top-left-text p{
    color: #828282;
    font-size: 20px;
    margin-bottom: 25px;
}
.common-btn{
    text-transform: capitalize;
    text-decoration: none;
    color: #fff;
    background: linear-gradient(#FC8F4A,#FD5131);
    outline: none;
    border:transparent;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 18px;
    display: inline-block;

}
.top-banner-image{
    background-image: url(../images/top-banner-bg.png);
    background-repeat: no-repeat;
    height: 500px;
    background-position: center;
}
.top-banner-image img{
    width: 375px;
    margin-left: 75px;
}

/* top area css end */

/* about area css */
.about-area{
    background-image: url(../images/about-bg.jpg);
    background-size: cover;
    padding:100px 0 0;

}
.about-bg img {
    width: 671px;
    margin-left: 150px;
    margin-top: -50px;
}
.about-text{
    margin-right: 20px;
}
.about-text h4{
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: bold;
}
.about-text p{
    font-size: 18px;
    line-height:25px;
    margin-bottom: 20px;
}

/* about area css end */


/* food list css */
.food-list-area{
    padding:100px 0;
}
.section-title{
    text-align: center;
    width: 600px;
    margin: auto;
}
.section-title h2{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #676767;
}
.section-title p{
    margin-bottom: 50px;
    color: #676767;
    font-size: 20px;
}
.col-4{
    width: 33%;
    padding: 0 5%;
}
.single-food img{
    width: 100%;
    border-radius: 30px;
    margin-bottom: 15px;
}
.single-food{
    border-radius: 30px;
    padding: 15px;
    box-shadow: 9px 10px 30px 2px #ddd;
}
.single-food h4{
    font-size: 20px;
    margin-bottom: 15px;
}
.single-food p{
    font-size: 16px;
    line-height: 25px;
}
/* food list css end */

/* team area css */
.col-3{
    width: 25%;
    padding: 0 3%;
}
.team-area{
    padding:50px 0 100px;
}
.single-team img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.single-team{
    text-align: center;
    padding: 35px 15px;
    box-shadow: 1px 4px 25px #ddd;
}
.single-team span{
    text-transform: capitalize;
}

/* team area css end */


/* counter area css */
.counter-area{
    padding: 80px 0px;
    box-shadow: 10px 7px 50px 5px #ddd;
    margin: 0px 70px 100px;
    border-radius: 30px;
}
.single-counter{
    text-align: center;
}
.single-counter h4{
    color: #191A1F;
    text-transform: capitalize;
    margin-top: 15px;
}
/* counter area css end */

/* quote css */
.quote-area{
    background: #F1F0FE;
    padding: 70px 0;
}
.single-quote{
    text-align: center;
    background: #fff;
    padding: 75px 20px;
    text-transform: capitalize;
    border-radius: 5px;
}
.single-quote h4{
    margin-bottom: 20px;
    font-size: 30px;
}
.quote-img img{
    width: 100%;
    height: 250px;
    border: 5px solid #FC7740;
}

/* footer css */
footer{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
    background: #0B0E17;
    color: #fff;
    text-transform: capitalize;
}
footer h2{
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 36px;
}
footer h2 span{
    color: #FC8043;
}